<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884788596487-3c98u8elcve4j7b0or4d3nvvkni9b4r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884788596487-3c98u8elcve4j7b0or4d3nvvkni9b4r5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884788596487-j041vdtnr7q9482d4ldkjvpu6v1g9bi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOF6dmhI3egaavuk9s4YOCUxyBQZNPa8s</string>
	<key>GCM_SENDER_ID</key>
	<string>884788596487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sarmaaya-revamp</string>
	<key>PROJECT_ID</key>
	<string>sarmaaya-revamp</string>
	<key>STORAGE_BUCKET</key>
	<string>sarmaaya-revamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884788596487:ios:f8a32d1df5698ae9b9ffa2</string>
</dict>
</plist>